<%- include ../header %>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">&nbsp;</h4>
        <h4 class="mb-3"> Movie Details</h4>
        <form class="needs-validation" novalidate="" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Title - <%-row.title%></label>


                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Year - <%-row.year%></label>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Director - <%-row.director%></label>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Description - <%-row.description%></label>
                </div>


                <div class="col-md-6 mb-3">
                    <label for="lastName">Genre - <%-row.genre%> </label>
                </div>


            </div>

        </form>
    </div>
</main>

<%- include ../footer %>